* {
    box-sizing: border-box;
}
#money {
    margin-left: 6px;
    margin-top: 10px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    width: 200px;
}
.input {
    margin-left: 10px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    width: 200px;
}