* {
    box-sizing: border-box;
}
.btn {
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 12px;
    color: #fff;
    background-color: #19b5fe;
    width: 114px;
    height: 27px;
}
.btn:hover {
    background-color: rgb(125, 229, 255);
}
.choice {
    display: flex;
    margin-bottom: 50px;
}
#money {
    margin-left: 10px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    width: 200px;
}
#money-second {
    margin-left: 6px;
    margin-top: 10px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    width: 200px;
}
#input {
    margin-left: 10px;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    width: 200px;
}
.convert-there {
    display: flex;
}