* {
    box-sizing: border-box;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.character {
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid #000;
    background: #ccc;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
}
.img {
    max-width: 250px;
    max-height: 350px;
}
.text {
    margin: 10px auto;
    max-width: 250px;
    border-bottom: 1px solid #000;
}
.movies {
    text-align: center;
}
.movies-name {
    display: inline-block;
    cursor: pointer;
    margin: 10px 30px 10px 0;
    padding: 3px 7px;
    border: 2px solid #000;
    border-radius: 10px;    
}
.hide {
    display: none;
}